* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, black, gray);
}

.calculator {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: -2px 4px 2px gray;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(128, 128, 128, 0.466);
    outline: none;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color ease 0.1s;
}

button:hover {
    background-color: hsl(0, 0%, 9%);
}

button:active {
    background-color: hsl(0, 0%, 9%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
    color: black;
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 65%);
}